# Pinned requirements
PySide6-Essentials==6.4.1
beautifulsoup4==4.11.1
bibleref==0.13.0
dmgbuild==1.6.0
pluginlib==0.9
pyinstaller==5.7.0
python-docx==0.8.11
requests==2.28.1
semver==2.13.0
stdlibs==2022.10.9
