# Pinned requirements
PySide6-Essentials==6.6.3

beautifulsoup4==4.12.3
bibleref==0.16.0
dmgbuild==1.6.1
fontfinder==0.15.0
pluginlib==0.9.2
pyinstaller==6.6.0
python-docx @ git+https://github.com/multiscript/python-docx.git@for-multiscript
requests==2.31.0
semver==3.0.2
stdlibs==2024.1.28
